
*.pck
*.zip
*.dll
*.so
*.os
*.dylib
*.gd.uid
*.uid
*.dblite
*.import
*.editorconfig

.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
!.vscode/launch.json.template
!.vscode/extensions.json

.vscode/.user
.vscode/.roaming

.plans

# fixture project caches + results
testdata/project/.godot/
testdata/results*.json